<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.pet.starboard.mapper.StarBoardMapper">
 
	<insert id="starReplyInsert">
		insert into STARBOARDREPLY(bno , writer, pw , content)
		values( #{bno} , #{writer} , #{pw} , #{content})
	</insert>

	
	<select id="getStarReply" resultType="StarBoardReplyVO">
		<![CDATA[
		select * from (
select @rownum := @rownum + 1 as rn, a.*
 from(select * 
 from STARBOARDREPLY where bno=#{bno} order by rno desc) a 
 ) b , (select @rownum:=0) as rn  
where rn > (#{cri.pageNum} - 1 ) * #{cri.amount} and rn <= #{cri.pageNum} * #{cri.amount} 		
  		]]>
  		
	</select>
	
	
	<select id="pwCheck" resultType="int">
		select count(*) as total from STARBOARDREPLY where rno =#{rno}  and pw = #{pw}
 	</select>
 	
 	<update id="starReplyUpdate">
 		update STARBOARDREPLY set content = #{content}where rno = #{rno}
 	</update>
	
	<delete id="starReplyDelete">
		delete from STARBOARDREPLY where rno = #{rno}		
	</delete>

	<select id="getList" resultType="StarBoardVO">
		<![CDATA[
			select * from (
			select @rownum := @rownum + 1 as rn,
        	a.* from(
			select * from STARBOARD order by bno desc) a 
			) b , (select @rownum:=0) as rn
			where rn > (#{pageNum} - 1 ) * #{amount} and rn <= #{pageNum} * #{amount} 		
  		]]>
	</select>
	
	
	<select id="getBoardDetail" resultType="StarBoardVO">
		select * from STARBOARD where bno = #{bno}
	</select>
	
	
	<select id="getTotal" resultType="int">
		select count(*) from STARBOARD	
	</select>
	
	<update id="hit">
		update STARBOARD set hit = hit + 1 where bno = #{bno}
	</update>

	<select id="getcate" resultType="StarBoardVO">
	<![CDATA[
	select * from (
			select @rownum := @rownum + 1 as rn,
        	a.* from(
			select * from STARBOARD where category = #{cate} order by bno desc) a 
			) b , (select @rownum:=0) as rn
			where rn > (#{cri.pageNum} - 1 ) * #{cri.amount} and rn <= #{cri.pageNum} * #{cri.amount}
  		]]>
	
	</select>
	
	
	<select id="cateToal" resultType="int">
		select count(*) as total from STARBOARD where category = #{cate}
	</select>
	
	<select id="getStarReset" resultType="StarBoardVO">
		select * from STARBOARD where bno = #{bno}
	</select>

	<select id="starReplyTotal"  resultType="int">
		select count(*) as total from STARBOARDREPLY where bno = #{bno}
	</select>

	<select id="getUserPw" resultType="string">
		select pw from USERS where id = #{writer}
		
	</select>
	
	<select id="getMygood" resultType="MyGoodVO" >
		select * from MYGOOD where user_id = #{user_id}
	</select>

 </mapper>

  
  
  
  
  
  

