<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mapper에서 사용할 객체의 경로를 변수로 생성한다 -->
<configuration>
 	<typeAliases>
			<typeAlias type="com.pet.command.MyGoodVO" alias="MyGoodVO"/>
			<typeAlias type="com.pet.command.UserVO" alias="UserVO" />
			<typeAlias type="com.pet.command.StarBoardVO" alias="StarBoardVO" />
 	</typeAliases>   
</configuration>